{% extends 'fuka/base.html' %}
{% load static %}

{% block title%}home{% endblock%}

{% block content %}

<div class="row">
    {% for search in searchs %}
        <div class="col">
            <div class="py-5">
                <a href="{% url 'fuka-detail' search.id %}">
                <h4>{{ search.name }}</h4>
                </a>
                <p>{{ search.position }}</p>
                <p>{{ search.re_area }}</p>
                <p>{{ search.re_rate }}</p>
            </div>
            <div class="chart-container mx-auto" style="position: relative; width: max-content;">
                <canvas id="DoughnutChart{{search.id}}" data-url="{% url 'api-chart' search.id %}"></canvas>
            </div>
            <script>
                $(function () {
                    var $DoughnutChart = $("#DoughnutChart{{search.id}}");
            
                    $.ajax({
                        url: $DoughnutChart.data("url"),
                        success: function (data) {
                            var ctx = $DoughnutChart[0].getContext("2d");
            
                            new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    datasets: [{
                                        backgroundColor: ['#007bff', '#6c757d', '#28a745'],
                                        data: data.data
                                    }],
                                    labels: data.labels    
                                },
                                options: {
                                    responsive: true,
                                    legend: {
                                        display: false,
                                    }
                                }
                            });
                        }
                    });
                });
              </script>
        </div>
    {% endfor %}
</div><!-- /.row -->

{% endblock%}