{% extends 'blog/base.html' %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

{% block title %}はやてれおのお問い合わせフォーム{% endblock %}

{% block contacthead %}
  active
{% endblock %}

{% block main %}
<div class="text-center mb-5">
  <h1 class="mb-5 mt-3">お問い合わせ</h1>
  <form method="POST" class="mx-3 mx-md-5">{% csrf_token %}
    {% for item in form %}
    <div class="form-group mb-3 fs-5">
      <label for="{{item.id_for_label}}">{{item.label}}</label>
      {% if item.name == "content" %}
      <textarea class="form-control" {% if item.field.required %}required{% endif %} name="{{item.name}}" id="{{item.id_for_label}}" rows="3"></textarea>
      {% else %}
        <input type="{{item.field.widget.input_type}}" class="form-control" 
            {% if item.field.required %}required{% endif %} 
            name="{{item.name}}" id="{{item.id_for_label}}">
      {% endif %}
    </div>
    {% for error in item.errors %}
      {{ error }}
    {% endfor %}
    {% endfor %}
    <div class="py-3">
      <button class="btn btn-primary btn-lg w-100" type="submit">送信</button>
    </div>
  </form>
</div>
{% endblock %}